# Python
__pycache__/
*.pyc

# Virtuelle Umgebung
.venv/

# Umgebungsvariablen / Geheimnisse
.env

# VS Code
.vscode/

# Paket-Metadaten (von pip install -e generiert)
*.egg-info/

# Ruff-Cache
.ruff_cache/